<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Sno.</th>
      <th>Title</th>
      <th>Date</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let articles of article; let i = index" [attr.data-index]="i">
      <td>{{i+1}}</td>
      <td>{{articles.title}}</td>
      <td>{{articles.createdon}}</td>
      <td><button type="submit"  class="btn btn-danger"(click)="clicked(articles._id);">Delete</button></td>
    </tr>
    
  </tbody>
</table> 